extends layout

block content
  h1= title
  h2 1. User Defined : #{userDefined}
  h2 2. Filename : #{fileTest} , Filetype : #{extTest}
  h2    Filename1 : #{fileTest1} , Filetype1 : #{extTest1}
  h2 3. Number : #{number}
  h2 4. Hari ini adalah: #{today}
  h2    Waktu sekarang adalah: #{timeNow}
  h2 5. Date Format (dd/mm/yyyy): #{formatDate}
  h2 6. Array: #{nilai}